/* Entries  */
#entries {
  grid-area: entr;
  border: 2px solid var(--white);
  border-radius: var(--bRadius);
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  overflow-y: scroll;
  height: 100%;
  max-height: 60vh;
  margin: auto;
  position: relative;
}

/* Controls  */
#entry-controls {
  position: sticky;
  top: 0;

  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: var(--pink);
  color: var(--white);

  width: 100%;
  height: 41px;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#entry-controls.entries-shown {
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--pink);
  border-radius: 0 0 var(--bRadius) var(--bRadius);
  background-color: var(--white);
  color: var(--pink);
}

/* Entries header  */
#entries-header {
  /* color: var(--white); */
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  width: 100%;

  display: flex;
  align-items: center;
}
#entries-header > * {
  margin: 0 0.4rem;
}
#entries-header i {
  font-size: 1.3rem;
  font-weight: 500;
}
/* "tap to minimize" tip  */
#entries-header #tip {
  font-size: 0.6rem;
  transition: opacity 5s;
}

/* Form  */
#add-entry-form {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  align-items: flex-end;
  padding: 0 1rem;
}
#add-entry-form.shown {
  display: flex;
}
#add-entry-form > * {
  margin: 0.3rem 0;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: var(--bRadius);
}
#add-entry-title,
#add-entry-text {
  align-self: stretch;
  resize: vertical; /* for textarea only */
}
#open-form-btn {
  background-color: var(--white);
  color: var(--pink);
  font-weight: bolder;

  border: none;
  border-radius: var(--bRadius);
  outline: none;

  --size: 1.7rem;
  width: var(--size);
  height: var(--size);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* the entries  */
#the-entries {
  width: 100%;
  padding: 0 1rem;
  display: none;
}
#the-entries.shown {
  display: block;
}

/* Date  */
.day-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day-info:not(:first-child) {
  margin-top: 2rem;
}
.date {
  font-size: 1.3rem;
  color: var(--white);
}
.year {
  font-size: 0.8rem;
}
.om {
  /* color: var(--pink); */
  color: black;
  background-color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  /* center  */
  display: flex;
  align-items: center;
  justify-content: center;
}
#om-tooltip {
  border-radius: var(--bRadius);
  margin: 0 0.5rem;
  padding: 0.5rem 0.6rem;
  transition: opacity var(--duration);
  /* gradient style  */
  background: radial-gradient(circle, var(--white) 0%, var(--pink) 100%);
  border: 2px solid black;
  color: black;
  /* position and hide  */
  position: sticky;
  bottom: 1rem;
  opacity: 0;
}
#om-tooltip.shown {
  opacity: 1;
}

/* entry  */
.entry {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: var(--bRadius);
  background-color: var(--white);
  word-break: break-word;
}
.entry-title {
  font-weight: bold;
  margin: 0.5rem 0;
  font-family: "Questrial", sans-serif;
}
.entry-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
}

/* entry buttons */
.entry-header {
  display: flex;
  justify-content: space-between;
}
.entry-buttons {
  display: flex;
  column-gap: 0.2rem;
}
.entry-buttons button {
  background-color: var(--white);
  color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: var(--bRadius);
  height: fit-content;
}
