/* habit-stats  */
#habit-stats {
  grid-area: habs;
  background-color: var(--white);
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  margin-top: 0;
  /* flex  */
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  /* border  */
  border-radius: var(--bRadius);
  border: 1px solid black;
}
#the-stats {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
}
.stat-row > * {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  grid-column-gap: 0.4rem;
}
.stat {
  font-weight: bold;
}
.stat-label {
  font-size: 0.7rem;
}
