/* Fonts > */
/* Ubuntu  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* Misirlou  */
@font-face {
  font-family: Misirlou;
  src: url(misirlou.day.ttf);
}

/* Variables  */
:root {
  --pink: #f88dad;
  --white: #f9e9ec;
  --bRadius: 6px;
  --duration: 0.8s;
  --void-duration: 2s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--pink);
}

section {
  padding: 1rem 0.5rem;
}

/* Center  */
#home > *,
.centered,
.time-circle,
.sound-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home  */
#home {
  display: grid;
  grid-template-areas:
    "logo"
    "time"
    "soun"
    "habs"
    "entr"
    "foot";
}
#home > * {
  margin: 1rem 0;
  transition: opacity var(--void-duration);
  width: 100%;
}

/* Logo  */
#logo {
  font-family: Misirlou;
  font-size: 0;
  grid-area: logo;
  color: var(--white);
  opacity: 0;
  transition: all var(--duration);
}
#logo.loaded {
  font-size: 7rem;
  opacity: 1;
}
#logo.hide {
  margin: 0;
}
#logo.hide #the-logo {
  font-size: 0;
}
#the-logo {
  transition: all var(--duration), opacity 9s;
}
#the-logo:hover {
  opacity: 0;
  cursor: none;
}
/* remove time-div margin when logo is hidden  */
#time-div {
  transition: margin var(--duration);
}
#time-div.logo-hidden {
  margin: 0;
}

/* Footer  */
footer {
  grid-area: foot;
  text-align: left;
  justify-content: space-between !important;
  margin: 1rem auto !important;
}
p {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color var(--duration);
}
a:hover {
  color: var(--white);
}
