aside {
  grid-area: ppup;
}

/* Home  */
#home {
  position: relative;
}
#home.popup {
  grid-template-areas:
    "ppup"
    "foot";
}

/* Popup open/close button  */
#info-btn {
  padding: 0.5rem 1rem;
  color: var(--white);
  /* border  */
  border: 2px solid var(--white);
  border-radius: var(--bRadius);
  /* type  */
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Misirlou;
  /*  */
  transition: width 2s;
  cursor: help;
}
#info-btn.active {
  background-color: var(--white);
  color: var(--pink);
}

/* Popup  */
#popup {
  display: flex;
  grid-area: ppup;
}
.popup-div {
  border-radius: var(--bRadius);
  background-color: var(--white);
  padding: 1rem 0.6rem;
  margin: 1rem 0;
  line-height: 1.4;
}
#popup h1 {
  color: var(--pink);
  margin: 0;
  margin-bottom: 0.2rem;
}
#popup h2 {
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

/* About the Data  */
#data-warnings {
  font-weight: bold;
  padding-inline-start: 20px;
}
#data-options {
  display: flex;
  flex-direction: column;
}

/* Buttons  */
#popup button {
  background-color: var(--pink);
  border: 2px solid black;
  padding: 0.3rem;
  margin: 0.5rem 0;
  font-weight: bold;
  width: 200px;
  border-radius: var(--bRadius);
  cursor: pointer;
}
#popup button:hover {
  color: var(--pink);
  border: 2px solid var(--pink);
  background-color: black;
}

/* About the Developer  */
#contribution-options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 0.5rem;
}

/* Bug Report  */
#about-bug {
  display: flex;
  justify-content: flex-end;
}
#about-bug a {
  font-weight: normal;
  text-decoration: underline;
}

/* When hidden  */
.hiden {
  transition: opacity var(--duration), display var(--duration);
  opacity: 0;
  display: none !important;
}

/* Laptop  */
@media only screen and (min-width: 1024px) {
  #home.popup {
    grid-template-areas:
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup";
  }

  /* Popup  */
  #popup {
    padding: 0 10rem 0 3rem;
  }
  #popup-content {
    padding: 0 15rem;
  }
  .popup-div {
    padding: 1rem 3rem;
    margin: 1rem 0;
  }
  #popup h1 {
    margin: 0.2rem;
  }

  /* About the Data  */
  #data-warnings {
    padding-inline-start: 40px;
  }
  #data-options {
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-around;
  }

  /* About the Developer  */
  #contribution-options {
    justify-content: space-between;
    column-gap: 2rem;
    align-items: center;
  }
}
