#home {
  position: relative;
}

#home.popup {
  grid-template-areas:
    "ppup"
    "foot";
}

/* Laptop  */
@media only screen and (min-width: 1024px) {
  #home.popup {
    grid-template-areas:
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup";
  }
}

#info-btn {
  padding: 0.5rem 1rem;
  color: var(--white);
  /* border  */
  border: 2px solid var(--white);
  border-radius: var(--bRadius);
  /* type  */
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Misirlou;
  /*  */
  transition: width 2s;
  cursor: help;
}

#popup {
  display: flex;
  grid-area: ppup;
}

#popup h1 {
  margin-bottom: 0.2rem;
}

#popup h2 {
  font-size: 1rem;
  margin: 0.2rem 0;
}

#popup h1,
#popup h2 {
  color: var(--white);
}

#popup-content > div {
  border: 2px solid var(--white);
  padding: 1rem;
}

.hiden {
  opacity: 0;
  display: none !important;
}
