#home {
  position: relative;
}

#info-btn {
  padding: 0.5rem 1rem;
  color: var(--white);
  /* border  */
  border: 2px solid var(--white);
  border-radius: var(--bRadius);
  /* type  */
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Misirlou;
}

#info-btn.open {
}
