/* Mobile L  */
@media (min-width: 425px) {
  #sound-content,
  #entries,
  #habit-stats,
  footer,
  #popup-content,
  #playlist-contribution {
    max-width: 445px;
  }

  #habit-stats {
    margin: 1rem auto;
    margin-top: 0;
  }
}

/* Laptop  */
@media (min-width: 1024px) {
  section {
    padding: 5rem 0.5rem;
  }
  #home {
    height: 100vh;
    grid-template-columns: 0.3fr 2.5fr 4fr;
    grid-template-areas:
      "foot entr logo"
      "foot entr time"
      "foot entr soun"
      "foot habs soun";
  }

  /* Enable time-options tooltips  */
  .time-circle:hover .tooltip {
    visibility: visible;
    display: block;
  }

  /* Entries  */
  #entries {
    margin: 0;
    max-height: 100%;
  }
  /* "tap to minimize" tip  */
  #entries-header span {
    display: none;
  }
  #entries,
  #habit-stats {
    max-width: 100%;
    margin-left: 1rem;
  }
  #entry-controls {
    background: var(--pink);
  }
  #om-tooltip {
    margin: 0 2rem;
    padding: 1rem;
  }

  /* Habit-stats  */
  #habit-stats {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  #the-stats {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .stat-row {
    margin: 0 0.5rem;
  }

  /* Sound  */
  #sound {
    margin-bottom: 0;
  }
  #sound-content {
    width: 100rem;
  }

  /* Footer  */
  footer p {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
  footer {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    margin: 0 !important;
  }

  /* Popup  */
  #home.popup {
    grid-template-areas:
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup"
      "foot ppup ppup";
  }
  #popup-content {
    max-width: 1000px;
    max-height: 51rem;
    padding-right: 0.5rem;
  }
  .popup-div {
    padding: 1rem 3rem;
  }
  .popup-div:not(:first-child) {
    margin: 1rem 0;
  }
  #popup h1 {
    margin: 0.2rem 0;
  }
  /* About the Data  */
  #data-warnings {
    padding-inline-start: 40px;
  }
  #data-options {
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-around;
  }
  /* About Developer  */
  .contribute-option {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }
  /* Bug Report  */
  #about-bug {
    font-size: 1rem;
  }
  #about-bug > * {
    flex-basis: initial;
    flex-grow: initial;
  }
}
