/* Fonts */
/* Ubuntu  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
/* Questrial */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: Misirlou;
  src: url(misirlou.day.ttf);
}

/* Variables  */
:root {
  --pink: #f88dad;
  --white: #f9e9ec;
  --bRadius: 6px;
  --duration: 0.8s;
  --void-duration: 2s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--pink);
}

section {
  padding: 1rem 0.5rem;
}

/* Center  */
#home > *,
.centered,
.time-circle,
.sound-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home > * {
  margin: 1rem 0;
  transition: opacity var(--void-duration);
  width: 100%;
}

#home {
  display: grid;
  grid-template-areas:
    "logo"
    "time"
    "desc"
    "opts"
    "soun"
    "entr"
    "foot";
}

#logo {
  font-family: Misirlou;
  font-size: 7rem;
  grid-area: logo;
  color: var(--white);
}
#the-logo {
  transition: opacity 9s;
}
#the-logo:hover {
  opacity: 0;
  cursor: none;
}

#timer {
  grid-area: time;
  font-size: 1.5rem;
  color: var(--white);
  align-items: flex-end;
  margin-bottom: 0;
}

#timer-description {
  grid-area: desc;
  align-items: flex-start;
  color: var(--white);
  font-weight: lighter;
  margin-top: 0;
}

/* Time */
#time-options {
  grid-area: opts;
  flex-direction: column;
}
#time-options-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#time-options h1 {
  color: var(--white);
  font-size: 1rem;
}
#time-choices {
  display: flex;
}
.time-circle {
  /* all time options */
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.1rem;
  --time-circle: 3.5rem;
  width: var(--time-circle);
  height: var(--time-circle);
  transition: background-color var(--duration), color var(--duration);
}
.time-circle:hover {
  background-color: var(--white);
  color: var(--pink);
}
.predefined-option,
#timeless {
  cursor: alias;
}
input {
  background-color: transparent;
  width: var(--time-circle);
  height: var(--time-circle);
  border: none;
  padding: 0.5rem;
  text-align: center;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}
.time.selected {
  background-color: var(--white);
}

/* Sound  */
#sound {
  grid-area: soun;
}
#sound-content {
  background-color: var(--pink);
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: 500;
  cursor: alias;
  border-radius: var(--bRadius);
  width: 100%;
}
#sound-content > * {
  width: 100%;
}
#music-title {
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  transition: background-color var(--duration), color var(--duration);
}
#music-title:hover {
  background-color: var(--white);
  color: var(--pink);
}
#music-title i {
  font-size: 1.3rem;
}
#music-title > * {
  margin: 0 0.2rem;
}
#music-player,
#music-player iframe {
  height: 0;
  transition: height var(--duration);
}

/* Entries  */
#entries {
  grid-area: entr;
  border: 2px solid var(--white);
  border-radius: var(--bRadius);
  padding: 0 1rem;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: start;
  align-items: flex-start;
  height: 60vh;
  padding: 0 0.45rem;
  margin: auto;
}
#entries h1 {
  font-weight: bold;
  font-size: 1.1rem;
}
.date {
  font-size: 1.3rem;
  color: var(--white);
}
.year {
  font-size: 0.8rem;
}

.day-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day-info:not(:first-child) {
  margin-top: 2rem;
}
.om {
  color: var(--white);
}
.entry {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  border-radius: var(--bRadius);
  background-color: var(--white);
}
.entry-title {
  font-weight: bold;
  margin: 0.5rem 0;
  font-family: "Questrial", sans-serif;
}
.entry-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
}
#the-entries {
  width: 100%;
}

#entry-controls {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Add entry form  */
#add-entry-form {
  display: none; /* flex in js */
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  align-items: flex-end;
}
#add-entry-form > * {
  margin: 0.3rem 0;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: var(--bRadius);
}
#add-entry-title,
#add-entry-text {
  align-self: stretch;
  resize: vertical; /* for textarea only */
}

/* Footer  */
footer {
  grid-area: foot;
  text-align: left;
  justify-content: space-between !important;
  margin: 0 !important;
}
p {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color var(--duration);
}
a:hover {
  color: var(--white);
}

/* Popup  */
aside {
  grid-area: ppup;
}
