#time-div {
  display: flex;
  flex-direction: column;
  grid-area: time;
}
#timer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#timer {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  align-items: flex-end;
  margin-bottom: 0;
}

/* Time options */
#time-options {
  grid-area: opts;
  flex-direction: column;
}
#time-options-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#time-options h1 {
  color: var(--white);
  font-size: 1rem;
}
#time-choices {
  display: flex;
}
.time-circle {
  /* all time options */
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.1rem;
  --time-circle: 3.5rem;
  width: var(--time-circle);
  height: var(--time-circle);
  transition: background-color var(--duration), color var(--duration);
}
.time-circle:hover {
  background-color: var(--white);
  color: var(--pink);
}
.predefined-option,
#timeless {
  cursor: alias;
}
input {
  background-color: transparent;
  width: var(--time-circle);
  height: var(--time-circle);
  border: none;
  padding: 0.5rem;
  text-align: center;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}
