/* Fonts */
/* Ubuntu  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
/* Questrial */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@font-face {
  font-family: Misirlou;
  src: url(misirlou.day.ttf);
}

/* Variables  */
:root {
  /* Palette  */
  --pink: #f88dad;
  --white: #f9e9ec;
  --yellow: #fac748;
  --purple: #8390fa;
  --dark: #383d3b;
  --secondary: var(--white);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.centered {
  /* class almost not used */
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 5rem 0.5rem;
  height: inherit;
}

#home {
  background-color: var(--pink);

  display: grid;
  grid-template-columns: auto 2fr 4fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "foot entr logo"
    "foot entr play"
    "foot entr time"
    "foot entr soun";
}

#home > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  font-family: Misirlou;
  font-size: 7rem;
  grid-area: logo;
}

#play {
  color: black;
  grid-area: play;
  font-size: 6rem;
}

#logo:hover,
#play i:hover {
  color: var(--secondary);
}

#times {
  display: flex;
  grid-area: time;
}
.time {
  border: 1px solid black;
  --border: 8px;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.1rem;
  --circle-size: 3.5rem;
  width: var(--circle-size);
  height: var(--circle-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sound  */
#sound {
  grid-area: soun;
}
#sound-container {
  align-items: flex-start;
}
.sound-circle,
.sound-header {
  border: 1px solid black;
  border-radius: 50%;
  --circle-size: 2.2rem;
  width: var(--circle-size);
  height: var(--circle-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sound-circle:hover,
.sound-header:hover,
.time:hover {
  background-color: var(--secondary);
}

/* Entries  */
#entries {
  grid-area: entr;
  border: 1px solid black;
  padding: 0 0.3rem;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: start;
}
.day {
  padding: 1.3rem;
}
.date {
  font-size: 1.3rem;
  font-weight: lighter;
}
.year {
  font-size: 0.8rem;
}
.info-day {
  display: flex;
  justify-content: space-between;
}
.om {
  color: var(--white);
}
.entry {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid black;
}
.entry-title {
  font-weight: bold;
  margin: 0.5rem 0;
  font-family: "Questrial", sans-serif;
}
.entry-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-weight: 300;
}

/* Footer  */
footer {
  grid-area: foot;
}
footer p {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  font-weight: normal;
}
